header,
.scrolly,
#nav,
footer {
    background-color: #235783;
}

nav {
    margin-bottom: 0px !important;
}
h1 {
    margin-bottom: 1rem !important;
}

body,
section {
    color: rgb(221, 221, 221) !important;
    background-color: #183C5B !important;
    font-family: 'Source Sans Pro', sans-serif;;
}

#header > nav ul li a.active {
    background: #fff;
    color: #000 !important;
}

p {
    margin-top: 0px !important;
    margin-bottom: 1rem;
}

ul.feature-icons li:before {
    background: rgb(40, 129, 156);
    border-radius: 100%;
    color: #ffffff;
    display: block;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

footer {
    padding: 10px 10px 10px 10px !important;
}