header,
.scrolly,
#nav,
footer {
    background-color: #235783;
}

nav {
    margin-bottom: 0px !important;
}
h1 {
    margin-bottom: 1rem !important;
}

body,
section {
    color: rgb(221, 221, 221) !important;
    background-color: #183C5B !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#header > nav ul li a.active {
    background: rgba(0, 204, 255, 0.739);
    color: #000 !important;
}

#main > section {
    border-top: solid 3px  rgba(0, 204, 255, 0.739) !important;
}

p {
    margin-top: 0px !important;
    margin-bottom: 1rem;
    font-size: 1.25rem !important;
}

header p {
    font-size: 1rem !important;
}

h3,
h4 {
    color: white !important;
}

#titleBar .toggle:before {
    background:  #235783 !important;
}

input[type="submit"].primary:hover {
    background-color: rgba(0, 204, 255, 0.739) !important;
}

input[type="submit"].primary {
    background-color: rgba(0, 98, 122, 0.739) !important;
}

ul.feature-icons li:before {
    background: rgb(40, 129, 156);
    border-radius: 100%;
    color: #ffffff;
    display: block;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

footer {
    padding: 10px 10px 10px 10px !important;
}